.abovefooter-div{
    height: fit-content;
    background-color: #8b23f4;
    color: whitesmoke;
    padding-top: 10%;
}
.abovefooter-div-top{
    display: flex;
    justify-content: center;
    gap: 20rem;
    align-items: center;
}
.abovefooter-div-2-circle{
    width: 15vw;
    height: 15vw;
    background-color: #8b23f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
    border-color: white;
    border-style: solid;
    font-size: 1rem;
    cursor: pointer;
}
.abovefooter-div-2-circle:hover{
    background-color: whitesmoke;
    color: #8b23f4;
    transition: color 0.5s ease,background-color 0.0s ease, transform 0.5s ease;
}
.abovefooter-div-1-p-head{
    font-size: 1.5rem;
    font-weight: lighter;
}
.abovefooter-div-1-p-content{
    font-size: 2.5rem;

}
.abovefooter-div-bot-pic{
    width: 100%;
}
.abovefooter-link{
    text-decoration: none;
    color: white;
}

/* Phone */
@media (max-width: 480px) {
    .abovefooter-div-top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        padding: 1rem;
    }
    .abovefooter-div-2-circle{
        width: 15vw;
        height: 15vw;
        background-color: #8b23f4;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        padding: 1rem;
        border-color: white;
        border-style: solid;
        font-size: 1rem;
        text-align: center;
    }
    .above-div-2-circle-icon{
        display: none;
    }
    .abovefooter-div-1-p-head{
    font-size: 1.5rem;
    font-weight: lighter;
}
.abovefooter-div-1-p-head{
    font-size: 1rem;
    font-weight: lighter;
}
.abovefooter-div-1-p-content{
    font-size: 2rem;

}
  }
  /*Semi-phone*/
  @media (min-width: 479px) and (max-width: 669px) {
    .abovefooter-div-top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        
    }
    .abovefooter-div-2-circle{
        width: 15vw;
        height: 15vw;
        background-color: #8b23f4;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        padding: 1rem;
        border-color: white;
        border-style: solid;
        font-size: 1rem;
        text-align: center;
    }
    .above-div-2-circle-icon{
        display: none;
    }
  }
  /*Larger Screen*/
  @media (min-width: 670px) and (max-width: 1279px) {
    .abovefooter-div-top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: center;
    }
    
  }