.slider{
  position: relative;

}
.slide{
  align-items: center;
}
.slide-statement{
  display: flex;
  justify-content: space-around;
  gap:3rem;
  align-items: center;
  font-size: 3rem;
}
.slide img{
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  transition: transform 1s;
  cursor: pointer;
}
.slide img:hover{
  transform: translate(1rem);
  filter: brightness(1.2); 
}
.slide-track{
  display: flex;
  width: auto;
  gap: 9rem;
  animation: scroll 40s linear infinite;
}
.slide-track:hover{
  animation-play-state: paused;
}

/*GRADIENT SHADOWS*/
.slider::before,
.slider::after {
  background: linear-gradient(to right, #1a1a1a,
  rgba(255,255,255,0)100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 8%;
  z-index: 2;
}
.slider::before{
  left: 0;
  top: 0;
}
.slider::after{
  right: 0;
  top: 0;
}


/*AUTO SCROLL*/
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 9 ));
  }
}