#navbar {
  transition: top 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

#navbar.scrolled {
  top: -10rem;
}
.active {
  color: #8b23f4;
  font-size: larger;
  opacity: 1;
  transition: color 0.5s ease, transform 0.5s ease;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #1a1a1a;
  position: sticky;
  top: 0;
  left: 0;
  right: 0; 
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #F8F7F2;
  opacity: 95%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8vw;
  width: 100vw;

}
nav ul li {
  list-style: none;
  font-size: 100%;
}
nav ul li a {
  display: block;
  justify-content: center;
  text-decoration: none;
  padding: 1rem;
  margin: 0.1rem;
  align-items: center;
  border-radius: 0.5rem;
  opacity: 1;
}

.nav-btn {
  color: #F8F7F2;
  background-color: #8b23f4;
  width: 11rem;
  height: 3rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  border: none;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Subtle shadow */
}

.nav-link {
  text-decoration: none;
}


.nav-btn:hover{
  border-color: #8b23f4;
  border-style: solid;
  background-color: #F8F7F2;
  color: #8b23f4;
  transition: color 0.5s ease, transform 0.5s ease;
}
.nav-icon {
  width: 2rem;
  height: 1.5rem;
}
nav ul li a:not(.active):hover {
  background-color: #8b23f4;
  color: white;
}
nav .menu {
  display: none;
  position: absolute;
  top: 3.4rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  align-items: center;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #8b23f4;
  border-radius: 0.2rem;
  cursor: pointer;
}
/* Add these styles for visibility classes */
.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}


/* Phone */
@media (max-width: 480px) {
  nav .menu {
    display: flex;
    top: 2.5rem;
  }
  nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }
  nav ul.open {
    display: flex;
  }
  nav ul li {
    text-align: center;
    margin-right: 2rem;
  }
}
/*Semi-phone*/
@media (min-width: 479px) and (max-width: 669px) {
  nav .menu {
    display: flex;
    top: 2.5rem;
  }
  nav ul.open {
    display: flex;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
  }
  nav ul li {
    text-align: center;
    margin-right: 2rem;
  }
}

@media (min-width: 670px) and (max-width: 1279px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
  }
}
/* Desktop */
