/* scrollToTop.css */

.scroll-to-top-button {
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center the content horizontally */
    padding: 0;
    border-radius: 50%;
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 1000;
    color: gray;
    border-color: gray;
}
.icon {
    width: 3rem;
    height: 3rem;
    margin: 0; /* Remove any default margin on the icon */
}
.icon:hover{
    color: #8b23f4;
}