/* WorksInner 1 div*/
.WorksInner-1-div {
  margin: auto;
  width: 60%;
}
.WorksInner-1-div h1 {
  font-size: 4rem;
}
.WorksInner-1-div p {
  word-spacing: 0.5rem;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}
.WorksInner-1-div-buttons {
  display: flex;
  gap: 1.5rem;
}
.WorksInner-1-div-buttons button {
  color: whitesmoke;
  background-color: #8b23f4;
  width: 9rem;
  height: 3rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.WorksInner-1-div-buttons button:hover{
  background-color: #f8f8f8;
  color: #8b23f4;
  border-color: #8b23f4;
  border-style: solid;
  transition: color 0.5s ease, transform 0.5s ease;
}
/* WorksInner 2 div*/
.WorksInner-2-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}
.WorksInner-2-div img{
    width: 70vw;
    border-radius: 2rem;
}
.WorksInner-2-div button{
    color: whitesmoke;
    background-color: #8b23f4;
    width: 11rem;
    height: 3rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
.WorksInner-2-div button:hover{
  background-color: #f8f8f8;
  color: #8b23f4;
  border-color: #8b23f4;
  border-style: solid;
  transition: color 0.5s ease, transform 0.5s ease;
}